<h1>Listing guests</h1>

<table>
  <thead>
    <tr>
      <th>Username</th>
      <th>Name</th>
      <th>User ID</th>
      <th>Guest for</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @guests.each do |guest| %>
      <tr>
      	<td><%= guest.username %></td>
        <td><%= guest.name %></td>
        <td><%= guest.user_id %></td>
        <td><%= guest.user.first_name %> <%= guest.user.last_name %></td>
        <td><% if current_user || current_keyholder || current_guest %>
        		<% if can? :read, guest %>
		        	<%= link_to 'Show', guest %>
		        	<% else %>
		        	<p>n/a</p>
		        	<% end %></td>
		        <td><% if can? :update, guest %>
		        	<%= link_to 'Edit', edit_guest_path(guest) %>
		        	<% else %>
		        	<p>n/a</p>
		        	<% end %></td>
		        <td><% if can? :destroy, guest %>
		        	<%= link_to 'Destroy', guest, method: :delete, data: { confirm: 'Are you sure?' } %>
		        	<% else %>
		        	<p>n/a</p>
		        	<% end %></td>
		     <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to "New Guest", new_guest_registration_path %>
